<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    bootstrap="./tests/bootstrap.php"
    >
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
            <exclude>
                <directory suffix=".php">./src/Pawsback/Sdk</directory>
                <file>./src/bootstrap.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log
            type="coverage-html"
            target="./tmp/coverage/html/"
            charset="UTF-8"
            highlight="true"
            lowUpperBound="60"
            highLowerBound="90"
            />
        <log
            type="coverage-clover"
            target="./tmp/coverage/clover.xml"
            />
    </logging>
</phpunit>
